<%= render 'shared/header' %>

<div class="background-image">
  <%= image_tag "keiba.png", class: "background" %>
  <div class="content">
    <% if @income.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

        <ul>
          <% @income.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>収入額の編集</h2>
    <%= link_to 'ホーム', root_path %>
    <p>日を設定してください</p>

    <%= form_with model: @income, local: true, data: { turbo: false } do |f| %>
      <%= raw sprintf(
            f.date_select(
              :date,
              { class: 'date', id: "date", use_month_numbers: true, prompt: '--', start_year: Time.now.year-1, end_year: Time.now.year, date_separator: '%s' },
              { class: 'form-control' }
            ),
            "年", "月") + "日"
      %>
      <p>項目を選んでください</p>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: 'category-select' }) %>

      <p>回収金額を設定してください</p>
      <%= f.text_field :price, class: 'price-input' %>円
      <%= f.submit "更新", class: 'submit-btn' %>
    <% end %>
  </div>
</div>
