<%= render 'shared/header' %>

<div class="background-image">
  <%= image_tag "keiba.png", class: "background" %>
  <div class="content">
    <% if @income.errors.any? %>
      <div class="error-explanation">
        <h2 class="error-title"><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

        <ul>
          <% @income.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-title">回収金額の新規登録</h2>
    <%= link_to 'ホーム', root_path, class: 'home-link' %>
    <p class="instruction-text">日を設定してください</p>

    <%= form_with model: @income, local: true, data: { turbo: false }, class: 'income-form' do |f| %>
      <div class="date-select-container">
        <%= raw sprintf(
              f.date_select(
                :date,
                { class: 'date-select', id: "date-select", use_month_numbers: true, prompt: '--', start_year: Time.now.year-1, end_year: Time.now.year, date_separator: '%s' },
                { class: 'form-control' }
              ),
              "年", "月") + "日"
        %>
      </div>
      <p class="category-instruction">項目を選んでください</p>
      <div class="category-select-container">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class: 'category-select' }) %>
      </div>

      <p class="amount-instruction">回収金額を入力してください</p>
      <div class="price-input-container">
        <%= f.text_field :price, class: 'price-input' %>円
      </div>
      <%= f.submit "登録", class: 'submit-btn' %>
    <% end %>
  </div>
</div>

